%div.card
  %div.f-block
    = form_tag movie_path(@movie), :method => :put do
      %div.header
        %h2 Edit  Movie
      %div.body.p-0
        = render :partial => 'movie_form'
      %div.footer
        = submit_tag "Update Movie Info" , class: "btn btn-primary"
        = link_to 'Cancel', movie_path(@movie), class: "btn btn-warning"
