@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
::after,
::before {
    box-sizing: border-box;
}

body {
    color: rgb(69, 70, 70);
    padding: 0;
    margin: 0;
    background-color: #f3f4f6;
    font-family: 'Roboto', sans-serif;

}

#main {
    margin: 0 auto;
    padding: 0 50px;
}

.message {
    padding: 7px 10px;
    margin: 0.5em 0;
    color: white;
    border-radius: 5px;
}
#warning {
    background: #ff9800;
}

#notice  {
    background: #04AA6D;

}

.card .header {
    padding: 1.25rem 1.5rem;
}

.card .body {
    border-top: 1px solid;
    border-color: rgba(229, 231, 235);
    padding: 1.25rem 1.5rem;
}

.card .footer {
    border-top: 1px solid;
    border-color: rgba(229, 231, 235);
    padding: 1.1rem 1.5rem;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%);
    background-color: white;
    margin-bottom: 10px;
}

header {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 3px solid gold;
}

header a {
    margin: 0 0;
    font-size: 2rem;
    font-style: normal;
    text-decoration: none;
    color: #880a00;
    font-weight: 600;
    letter-spacing: 3px;
}

#main .card h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
    color: #d25600;
    font-size: 2rem;
    /*   font-style: italic; */
    display: block;
    width: 100%;
    /* border-bottom: 1px solid DarkSlateGrey; */
}

.table-broder {
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
}

table {
    border-collapse: collapse;
    text-indent: 0;
    border-color: inherit;
    min-width: 100%;

}

thead {
    background-color: #f7ca74;
}

th {
    color: rgb(62 64 68);
    letter-spacing: 0.05em;
    font-weight: 700;
    text-align: left;
    padding: 0.75rem 0.5rem;
}

tbody {
    background-color: rgba(255, 255, 255);
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-color: rgba(229, 231, 235);
}

td a {
    background: transparent;
    color: maroon;
    font-weight: bold;
    text-decoration: none;
}

td a:hover {
    color: rgb(88, 2, 2);
    text-decoration:underline ;
}

tbody tr {
    border-bottom: 1px solid #e9e9e9;
}

tbody tr:hover {
    background-color: #faf16d;
}

td {
    padding: 0.75rem 0.5rem;
    font-size: 16px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
    display: block;
}

dl {
    margin: 0;
}

dt {
    color: rgb(72, 74, 80);
    font-weight: 500;
    font-size: 1.2rem;
}

dd {
    color: rgba(107, 114, 128);
    margin-top: 0;
    grid-column: span 2/span 2;
    font-size: 1.2rem;
    line-height: 1.25rem;

}

.div-list {
    padding: 1.25rem 1.5rem;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
}

.div-list:nth-child(odd) {
    background-color: white;
}

.div-list:nth-child(even) {
    background-color: #f9fafb;
}

.p-0 {
    padding: 0 !important;
}

form {
    display: inline-block;
}

/* .btn-primary {
    color: #fff;
    background-color: #f68307;
    border-color: #9a6a05;
}

.btn-primary:hover {
    background-color: #f2a502;
} */

.btn-seccondary {
    color: #fff;
    background-color: #4CAF50;
}

.btn-seccondary:hover {
    background-color: rgb(65, 150, 67);
}

.btn-danger {
    color: #fff;
    background-color: #f44336;
}

.btn-danger:hover {
    background-color: #c4362c;
}

.btn-primary {
    color: #fff;
    background-color: #00a2ff;
}

.btn-primary:hover {
    background-color: #0366fa;
}

.btn-warning {
    color: rgb(56, 56, 56);
    background-color: #ffd900;
}

.btn-warning:hover {
    background-color: #dbbb03;
}

.f-block form {
    display: block !important;
}

.custom {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    text-transform: none;
    word-wrap: normal;
    display: inline-block;
    /* width: 100%; */
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
    margin-bottom: 0;
}

option {

    font-family: inherit;
    text-transform: none;
    word-wrap: normal;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    box-sizing: border-box;
}